body,
li label,
.orangeLabel {
  background-color: #eee6d8;
  font-family: "Inter", "Poppins", "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #93441a;
  letter-spacing: 0.3px;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a,
button,
label {
  background-color: #93441a;
  color: #e5e7e6;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
}

button,
label {
  border: none;
  cursor: pointer;
}

button {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
  opacity: 0.7;
}

label,
h2,
p {
  color: #93441a;
  padding: 5px;
  font-weight: bolder;
}

.menu {
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: #93441a;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.menu ul {
  background-color: #93441a;
}

#playlistButton {
  text-align: center;
  padding: 20px 120px;
  font-size: 1rem;
  font-weight: bold;
  color: #e5e7e6;
}
